html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}

/*
The tutorial way:

.wrapper {
    width: 70%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;
}
.rightheader {
    flex-basis: 60%;
    margin-top: 3.75rem;
    padding-left: 0.5rem;
}
.rightheader h1 {
    margin: 0;
    color: #DA0090;
    font-size: 3em;
}
.rightheader p {
    margin-top: -0.5rem;
} */

.wrapper{
    width: 59rem;
    margin: 0 auto;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.rightheader{
    margin: 2.4rem 0 0 1rem;
    color: #DA0090;
    font-size: 1.3rem;
    font-weight: bold;
}
.rightheader p{
    margin-top: -2.1rem;
    font-size: 0.9rem;
    color: black;
}


nav a{
    color: #A51F10;
    display: block;
    /* border: black solid 3px; */
    margin-right: 2rem;
}
nav li{
    list-style: none;
    display: inline-block;
    /* border: black solid 3px; */
}
nav ul{
    text-align: center;
    padding: 0.5rem;
    border-top: solid #E54FB2 2px;
    border-bottom: solid #BC574C 2px;
}

section{
    margin: 2rem 0 0 0;
    border-bottom: solid #E54FB2 2px;
}

article{
    margin-bottom: 7rem;
}

article img{
    float: left;
    border-radius: 1rem;
    margin-right: 1rem;
}

article:after{
    content: "";
    display: table;
    clear: both;
}

footer{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    border-top: solid #BC574C 2px;
    padding: 1rem;
}

footer ul{
    list-style-type: none;
     align-content: center; 
     margin: 0;
     padding: 0;
}
footer li{
    display: inline-block;
}