.floatleft{
    float: left;
    /* T R B L */
    margin: 0 1rem 1rem 0;
}

.floatright{
    float: right;
     margin: 0 0 0 1rem;
}

article{
    width: 40rem;
    border: 3px solid black;
    margin: 0 auto;
    background-color: rgba(168, 250, 166, 0.972);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.02rem;
}

/* If you float, you should clear! */
article:after{
    content: "";
    display: table;
    clear: both;
}

article img{
    border: 4px dashed #efff96;/*rgb(249, 255, 214);*/
    border-radius: 0.8rem;
}

article blockquote{
    border-radius: 1.4rem;
    border:dashed white 0.2rem;
    display: inline-block;
    padding: 1.3rem;
    text-align: center;
    font-size: 1.07rem;
    background-color: rgb(104, 243, 104);
    color: white;
}

article blockquote p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article cite{
    display: block;
    margin-top: 0.5rem;
}

article p{
    margin: 0 0.5rem 0 0.5rem;
}

h1{
    text-align: center;
}