html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
	/* ../ прави така че да изляза от директорията в която е css файлът за да видя другите директории */
}
h1{
	font-family: 'Creepster';
	font-size: 3rem;
	margin-bottom: -1rem;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #efb106;
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset{
	border: 2px solid black;
	border-radius: 10px;
	margin-bottom: 1rem;
	margin-top: 3rem;
}
legend{
	font-weight: bold;
	font-size: 1.3rem;
	
	margin-bottom: 1rem;
	display: block;
	/* border: 1px solid red; */
}
label{
	display: block;
	padding-bottom: 0.4rem;
}
textarea{
	height: 5rem;
	width: 13.5rem;
	padding: 1rem;
}
select{
	font-size: 1rem;
}
button{
	font-family: 'Creepster';
	font-size: 1.2rem;
	margin: 0 0 5rem 0;
	background-color: #bb342F;
	color: white;
	/* border: 1px solid black; */
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
button:hover{
	background-color: white;
	color: #bb342F;
}
input:not([type="radio"]):not([type="checkbox"]), textarea,select {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.4rem 1rem;
	border-radius: 10px;
	border:  1px solid black;;
}
.godown{
	margin-bottom: -2rem;
}






